/*variables */
:root{
    --primary: #D5CABD;
    --secondary: #FFEDCB;
}

/* reset*/

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

li{
    list-style-type: none;
}

/* base */

html {
  scroll-behavior: smooth;
}

a{
    display: block;
}

nav.navbar{
    padding: 20px;
}

.container{
    max-width: 540px;
    margin: auto;
}

nav.navbar .navbar-brand a{
    font-size: 2.5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

div.toggle-switch svg{
    cursor: pointer;
}


section.hero{
    background-image: url('./assests/hero.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.hero h1{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.07em;
}

section.hero h1, section.hero i{
    font-size: 4em;
    color: #fff;
    text-align: center;
}

section.hero i{
    display: block;
    width: 100%;
    text-align: center;
}

.grid{
    display: grid;
}

p.lead{
    font-size: 1.1em;
    font-weight: 400;
}

img{
    width: 100%;
}

section.testimonials {
    margin: 30px 0;
}
section.testimonials  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
}
section.testimonials div.test-img{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 40px;
}

section.testimonials div.test-img img{
   width: 100%;
  height: auto;
}
section.testimonials div.test-text{
    text-align: center;
    margin-bottom: 30px;
}

section.testimonials div.test-text p{
    line-height: 1.5em;
}

section.testimonials div.test-text h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
footer{
    background:#B2D3C6;
    padding: 30px;
}

footer h1.footer-logo{
    font-family: 'Roboto', sans-serif;
}

footer h1.footer-logo , footer ul li a{
    color: #00917B;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;
}

footer ul li a{
    font-size: 1.2em;
}



@-webkit-keyframes fadeInDown{
    0%{opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    to{
        opacity:1;
        -webkit-transform:translateZ(0);transform:translateZ(0)
    }
    
}
@keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }to{
        opacity:1;-webkit-transform:translateZ(0);
        transform:translateZ(0)
    }
}
.animate{
    -webkit-animation-duration:2.5s;
    animation-duration:2.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
.fadeIn{
   
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown;
    animation-iteration-count: infinite;
}


/* mobile style*/

nav.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav.navbar .navbar-brand a{
    text-align: center;
    display: block;
    width: 100%;
}


div.toggle-switch{
    display: block;
    position: fixed;
    bottom: 90px;
    left: 30px;
    z-index: 10;
}

div.toggle-switch svg{
    width: 40px;
}


div.menu{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    display: block;
    position: fixed;
    width: 100%; 
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    opacity:0;
    color: #000;
    z-index: -12;
    cursor: pointer;
}

div.menu.show{
    height: 100%;
    opacity: 1;
    z-index: 2;
}

div.menu ul{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div.menu ul li{
    margin-bottom: 2em;
}

div.menu ul li a{
    color: #000;
    text-transform: capitalize;
    font-size: 1.2em;
    display: block;
}

div.burger-menu{
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: auto;
    z-index: 10;
}

#nav-icon3{
    width: 35px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #FFEDCB;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3.open span{
    background: var(--primary);
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 16px;
}

#nav-icon3 span:nth-child(4) {
    top: 32px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


section.hero{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.grid.img-features{
    grid-template-columns:1fr;
}

section.grid.img-features div.grid-img{
    margin: 0;
}

section.grid.img-features div.grid-text{
    margin: 0;
    padding: 30px;
}

body > section.grid.img-features > div:nth-child(4){
   grid-row: 3/4;
}

section.grid.img-features div.grid-text p{
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
}

section.grid.img-features div.grid-text a{
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: #333;
    margin: 20px;
}

section.grid.img-features div.grid-text div.line{
    width: 150px;
    height: 10px;
    margin: auto;
    background: var(--secondary);
}

section.more-img{
    grid-template-columns: 1fr 1fr;

}

footer ul{
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    justify-items: center;
}
footer .footer-social ul.footer-menu{
    grid-template-columns: repeat(4, 50px);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media  only screen and (min-width: 768px) { 

    .container{
        max-width: 720px;
        margin: auto;
    }

}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    .container{
        max-width: 960px;
        margin: auto;
    }

    section.testimonials div.container {
        grid-template-columns: repeat(3, 1fr);
    }

    section.grid.img-features{ 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(500px , auto);
        align-items: center;
    }

    footer ul.footer-menu{
        grid-template-columns: 150px 150px 150px;
        justify-content: center;

    }
}

/* Large devices (large desktops, 1200px and up) */
@media  only screen and (min-width: 1220px) { 

    nav.navbar{
        position: fixed;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.navbar.onScroll .navbar-brand a{
        color: var(--primary);
    }
    nav.navbar.onScroll{
        background: #fff;
        z-index: 100;
    }

    nav.navbar.onScroll div.menu ul li a{
        color: #000;
    }

    .container{
        max-width: 1440px;
        margin: auto;
    }
    nav.navbar div.grid.container{
        grid-template-columns: 45% 45% 10%;
        align-items: baseline;
    }
    nav.navbar .navbar-brand a{
        text-align: left;
    }

    div.toggle-switch{
        position: relative;
        bottom: unset;
        left: unset;
    }

    div.burger-menu{
        display: none;
    }

    div.menu{
        display: block;
        position: relative;
        background: none;
        z-index: 2;
        height: 100%;
        opacity: 1;
    }

    li.mobile-only{
        display: none;
    }

    div.menu ul.nav-menu{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    div.menu ul.nav-menu li{
        text-align: center;
    }

    div.menu ul li a{
        color: #fff;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        
    }

    div.menu ul li.active{
        background-color: #fff;
        border-radius: 18px;
        padding: 15px;
        
     }
    div.menu ul li.active a{
         color: #000;
     }

    section.more-img{
        grid-template-columns: repeat(4, 1fr);
    }
}
